{% include html-head.html %}

    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="bg-primary bg-gradient">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <nav class="fs-4 py-3 text-white text-uppercase fw-bolder">{{ site.title }}</nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 fs-5">
                {{ content }}
                <div class="d-grid gap-2 mt-5">
                    <a id="show-summary" class="btn btn-primary btn-lg bg-gradient text-uppercase" href="economy.html">Take the temp</a>
                </div>
            </div>
        </div>
    </div>

    {% include html-foot.html %}
