
    {% include html-head.html %}

<div class="bg-primary bg-gradient text-center">
    <h1 class="py-3 text-white">Markets</h1>
  </div>

<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
  
  <div class="px-5">
  <label for="Capital" class="form-label fw-bold">Capital</label>  
  <input type="range" class="form-range" id="Capital" min="1" max="5" step="0.25">
  <div class="d-flex justify-content-between range-label">
    <div>Scarce</div>
    <div>Abundant</div>
  </div>
  </div>
  
  <div class="px-5">
  <label for="TradeVolume" class="form-label fw-bold">Trade Volume</label>  
  <input type="range" class="form-range" id="TradeVolume" min="1" max="5" step="0.25">
  <div class="d-flex justify-content-between range-label">
    <div>Low</div>
    <div>High</div>
  </div>
  </div>
  
  <div class="px-5">
  <label for="Spreads" class="form-label fw-bold">Spreads</label>  
  <input type="range" class="form-range" id="Spreads" min="1" max="5" step="0.25">
  <div class="d-flex justify-content-between range-label">
    <div>Wide</div>
    <div>Narrow</div>
  </div>
  </div>
      
  <div class="row mt-5">
    <div class="col-4">
    <a id="previous" class="btn btn-outline-secondary bg-gradient text-uppercase d-block" href="credit.html">Previous</a>
    </div>
    <div class="col-8">
    <a id="show-summary" class="btn btn-primary bg-gradient text-uppercase d-block" type="button">Show summary</a>
    </div>
</div>
      
   {% include summary.html %}

    </div>
  </div>
</div>
   
{% include html-foot.html %}