{% include html-head.html %}

<title>{{ site.title }}</title>
  </head>
  <body id="summary-page">
    <div class="bg-primary bg-gradient">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <nav class="fs-4 py-3 text-white text-uppercase fw-bolder">{{ site.title }}</nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 fs-5">
                <h1>{{ page.title }}</h1>

                <div id="temp-alert" class="alert" role="alert">
                    <h2 class="alert-heading">Temperature: <span id="temp">not yet</span></h2>
                    <p>Based on our calculation of your responses, you see the temperature of the market as medium-high.</p>
                </div>

                <div class="alert alert-info" role="alert">
                    <h2 class="alert-heading"><p>Stance: <span id="stance">not yet</span></p></h2>
                    <p>Because of this temperature reading, you may consider adjusting your portfolio toward a more defensive stance.</p>
                </div>

                {{ content }}

            </div>
        </div>
    </div>

    


    {% include html-foot.html %}