
    {% include html-head.html %}

<div class="bg-primary bg-gradient">
    <h1 class="py-3 text-center text-white">Economy</h1>
  </div>

<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
  
  <div class="px-5">
  <label for="Activity" class="form-label fw-bold">Activity</label>  
  <input type="range" class="form-range" id="Activity" min="1" max="5" step="0.25">
  <div class="d-flex justify-content-between range-label">
    <div>Sluggish</div>
    <div>Vibrant</div>
  </div>
  </div>
  
  <div class="px-5">
  <label for="Growth" class="form-label fw-bold">Growth</label>  
  <input type="range" class="form-range" id="Growth" min="1" max="5" step="0.25">
  <div class="d-flex justify-content-between range-label">
    <div>Slowing</div>
    <div>Accelerating</div>
  </div>
  </div>
  
  <div class="px-5">
  <label for="Outlook" class="form-label fw-bold">Outlook</label>  
  <input type="range" class="form-range" id="Outlook" min="1" max="5" step="0.25">
  <div class="d-flex justify-content-between range-label">
    <div>Bleak</div>
    <div>Rosy</div>
  </div>
  </div>
      
  <div class="d-grid gap-2 mt-5">
    <button id="show-summary" class="btn btn-primary bg-gradient text-uppercase" type="button">Show summary</button>
  </div>
      
   <div id="summary" class="alert alert-info mt-3 alert-dismissible fade show" role="alert">
     <h2>Summary</h2>
     <p>Average: <span id="average">not ready</span><p>
     <p>Temperature: <span id="temp">not ready</span>
     <p>Stance: <span id="stance">not ready</span>
     <button id="hide-summary" type="button" class="btn-close" aria-label="Close"></button>
     </div>

    </div>
  </div>
</div>
   
{% include html-foot.html %}